body {
    background-image: linear-gradient(45deg,#43cea2,#185a9d);
    background-image: url("images/texture1.png");
}

.logo {
    width: 175px;
    border-radius: 20%;
    border-width: 100px;
    border-color: white;
}