@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');

body {
    background-image: linear-gradient(45deg,#43cea2,#185a9d);
    background-image: url("images/texture1.png");
}

.logo {
    float: left;
    width: 175px;
    border-radius: 20%;
    border-color: white;
}

.propic {
    float: right;
    width: 8%;
    border-radius: 100%;
    border: 10px;
}

.propic:hover {
    filter:brightness(50%);
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.788);

}

a:hover {
    text-decoration:underline;
    color: rgb(255, 255, 255);
}

a:visited {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.footer {
    font-size: 120%;
    text-align: center;
    color: rgb(255, 255, 255);
    position:relative;
    margin-top:100px;
    padding: 10px 0px 10px 0px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.349);
}

.github-tags {
    text-align: left;
    float: right;
}

.emails {
    text-align: left;
    float: left;
}

.topics {
    padding: 10px 10px 10px;
    margin: 20px auto;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    height: 25px;
    border: 2px solid white;
    color: white;
    width: 30%;
    font-size: 120%;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(45deg,#e042d865,#2be2d37c);
    font-weight: bold;
}

.profilepic {
    margin-bottom: 150px;
    color: white;
    font-size: 200%;
}

.diff {
    font-family: 'Train One', cursive;
    margin-left: 150px;
    padding : 50px 50px 25px 50px;
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: none;
    transition: linear;
}

.diff:hover {
    text-decoration: none;
    background-color: rgba(0, 3, 2, 0.158);
}