.mediaViewInfo {
	--web-view-name: main;
	--web-view-id: main;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
::-webkit-scrollbar {
    display: none;
}
:root {
	--web-view-ids: main;
}
html {
	scroll-behavior: smooth;
  }
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}
#main {
	position: absolute;
	width: 1920px;
	height: 2025px;
	background-color: rgba(0,0,0,1);
	overflow: hidden;
	--web-view-name: main;
	--web-view-id: main;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
#website {
	position: absolute;
	width: 1920px;
	height: 1920px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#bg {
	position: absolute;
	width: 1920px;
	height: 1920px;
	left: 0px;
	top: 0px;
	overflow: visible;
	z-index: -1;
}
#mountains {
	position: absolute;
	width: 1920px;
	height: 1086.48px;
	left: 0px;
	top: 338px;
	overflow: visible;
}
#mtn_8 {
	position: absolute;
	width: 1920px;
	height: 1020.48px;
	left: 0px;
	top: 66px;
	overflow: visible;
	z-index: 0;
}
#mtn_7 {
	position: absolute;
	width: 1920px;
	height: 1022.976px;
	left: 0px;
	top: 47px;
	overflow: visible;
	z-index: 1;
}
#mtn_6 {
	position: absolute;
	width: 1920px;
	height: 924.288px;
	left: 0px;
	top: 103px;
	overflow: visible;
	z-index: 2;
}
#mtn_5 {
	position: absolute;
	width: 1920px;
	height: 897.792px;
	left: 0px;
	top: 128px;
	overflow: visible;
	z-index: 3;
}
#mtn_4 {
	position: absolute;
	width: 1920px;
	height: 937.344px;
	left: 0px;
	top: 0px;
	overflow: visible;
	z-index: 4;
}
#mtn_3 {
	position: absolute;
	width: 1920px;
	height: 785.472px;
	left: 0px;
	top: 229px;
	overflow: visible;
	z-index: 5;
}
#mtn_2 {
	position: absolute;
	width: 1920px;
	height: 708.672px;
	left: 0px;
	top: 328px;
	overflow: visible;
	z-index: 6;
}
#mtn_1 {
	position: absolute;
	width: 1920px;
	height: 762.432px;
	left: 0px;
	top: 304px;
	overflow: visible;
	z-index: 7;
}
#Meet_new_people_everyday_Liste {
	left: 165px;
	top: 472px;
	position: absolute;
	overflow: visible;
	width: 1591px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 70px;
	color: rgba(255,255,255,1);
	z-index: 6;
}
#Sign_In {
	border: none;
	background: none;
	opacity: 0;
	left: 1062px;
	top: 1212px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
	z-index: 1000;
}
#Sign_Up {
	border: none;
	background: none;
	opacity: 0;
	left: 654px;
	top: 1212px;
	position: absolute;
	overflow: visible;
	width: 205px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(255,255,255,1);
	z-index: 1000;
}
#Logo {
	vertical-align: middle;
	filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.4));
	position: absolute;
	width: 204px;
	height: 204px;
	left: 858px;
	top: 41px;
	overflow: visible;
	z-index: 1000;
}
#Enter_as_guest {
	opacity: 0;
	left: 828px;
	top: 1333px;
	position: absolute;
	overflow: visible;
	width: 265px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 35px;
	color: rgba(255,255,255,1);
	z-index: 1000;
}
#scroll {
	position: absolute;
	width: 92px;
	height: 66px;
	left: 914px;
	top: 960px;
	overflow: visible;
	z-index: 8;
}
#Scroll_z {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 93px;
	white-space: nowrap;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: 35px;
	color: rgba(255,255,255,1);
}
#Polygon_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	z-index: 1000;
}
.Polygon_1 {
	overflow: visible;
	position: absolute;
	width: 25px;
	height: 23px;
	transform: translate(-914px, -960px) matrix(1,0,0,1,948,1003) rotate(180deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
	z-index: 1000;
}
.buttonGrow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.buttonGrow:hover,
.buttonGrow:focus,
.buttonGrow:active {
    transform: scale(1.1);
}
@-webkit-keyframes buttonHang {
	0% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
	50% {
	  -webkit-transform: translateY(4px);
	  transform: translateY(4px);
	}
	100% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
  }
  @keyframes buttonHang {
	0% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
	50% {
	  -webkit-transform: translateY(4px);
	  transform: translateY(4px);
	}
	100% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
  }
  @-webkit-keyframes buttonHang-sink {
	100% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
  }
  @keyframes buttonHang-sink {
	100% {
	  -webkit-transform: translateY(8px);
	  transform: translateY(8px);
	}
  }
  .buttonHang {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .buttonHang:hover, .buttonHang:focus, .buttonHang:active {
	-webkit-animation-name: buttonHang-sink, buttonHang;
	animation-name: buttonHang-sink, buttonHang;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
  }
  .sign_in_box {
	top: 200px;
	display: flex;
	justify-content: center;
	margin: auto;
	z-index: 1001;
	position: relative;
  }
  .sign_in_container {
	position: relative;
	width: 500px;
	min-height: 650px;
	background: rgba(255, 255, 255, 0.17);
	border-radius: 60px;
	display: none;
	justify-content: center;
	backdrop-filter: blur(20px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.6);
  }
 .sign_in_form h1{
	 font-family: 'Montserrat', sans-serif;
	 font-style: normal;
	 font-weight: bold;
	 display: flex;
	 justify-content: center;
	 font-size: 75px;
	 color: rgba(255, 255, 255, 1);
 }
 .sign_in_form span{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: regular;
	font-size: 25px;
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 1);
}
.sign_in_form p{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: regular;
	font-size: 15px;
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 1);
}
.sign_in_form .input_box{
	width: 100%;
	margin-top: 20px;
}
.sign_in_form .input_box input{
	width: 80%;
	background: rgba(255,255,255,1);
	border: none;
	outline: none;
	padding: 20px 20px;
	border-radius: 50px;
	font-size: 30px;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	margin-right: 10px;
	margin-top: 10px;
}
.sign_in_form .input_box input::placeholder{
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-weight: 100;
}
.sign_in_form .input_box input[type="submit"]{
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	max-width: 150px;
	padding: 10px;
	background:#26238E;
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 0px 7px #005FFF;
	margin: 10px;
}
.forgot{
	display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.forgot:hover,
.forgot:focus,
.forgot:active {
    transform: scale(1.1);
}
.forgot a{
	color: rgba(255,255,255,1);
}
.password{
	filter: invert(100%);
	width: 50px;
}
input{
	font-family: 'Montserrat', sans-serif;
}
.input_box img{
	filter: invert(100%);
	width: 50px;
	margin-right: 7px;
	margin-left: 7px;
	padding-top: 10px;
}
.input_box{
	display: flex;
  	justify-content: center;
  	align-items: center;
}
#google_logo{
	width: 70px;
}
#facebook_logo{
	width: 70px;
}
.social{
	margin-top: 22.5px;
	display: flex;
  	justify-content: center;
  	align-items: center;
}
.sign_up_box {
	top: 150px;
	display: flex;
	justify-content: center;
	margin: auto;
	z-index: 1001;
	position: relative;
  }
  .sign_up_container {
	position: relative;
	width: 500px;
	min-height: 825px;
	background: rgba(255, 255, 255, 0.17);
	border-radius: 60px;
	display: none;
	justify-content: center;
	backdrop-filter: blur(20px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.6);
  }
 .sign_up_form h1{
	 font-family: 'Montserrat', sans-serif;
	 font-style: normal;
	 font-weight: bold;
	 display: flex;
	 justify-content: center;
	 font-size: 75px;
	 color: rgba(255, 255, 255, 1);
 }
 .sign_up_form span{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: regular;
	font-size: 25px;
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 1);
}
.sign_up_form p{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: regular;
	font-size: 15px;
	display: flex;
	justify-content: center;
	color: rgba(255, 255, 255, 1);
}
.sign_up_form .input_box{
	width: 100%;
	margin-top: 20px;
}
.sign_up_form .input_box input{
	width: 80%;
	background: rgba(255,255,255,1);
	border: none;
	outline: none;
	padding: 20px 20px;
	border-radius: 50px;
	font-size: 30px;
	box-shadow: 0 0px 3px rgba(0, 0, 0, 0.5);
	margin-right: 10px;
	margin-top: 10px;
}
.sign_up_form .input_box input::placeholder{
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-weight: 100;
}
.sign_up_form .input_box input[type="submit"]{
	cursor: pointer;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	max-width: 150px;
	padding: 10px;
	background:#26238E;
	color: rgba(255, 255, 255, 1);
	box-shadow: 0 0px 7px #005FFF;
	margin: 10px;
}
#confirm_password{
	margin-left: 64px;
	z-index: 1002;
}