@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

.mediaViewInfo {
	--web-view-name: homepage_user;
	--web-view-id: homepage_user;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}
::-webkit-scrollbar {
    display: none;
}
:root {
	--web-view-ids: homepage_user;
}
html {
	scroll-behavior: smooth;
  }
#homepage_user {
	position: absolute;
	width: 1920px;
	height: 1920px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: homepage user;
	--web-view-id: homepage_user;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-center-vertically: true;
	--web-navigate-on-keypress: true;
	--web-application: true;
	--web-enable-deep-linking: true;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
	overflow-x: hidden;
}
#website {
	position: absolute;
	width: 1920px;
	height: 1920px;
	left: 0px;
	top: 0px;
	overflow: visible;
}

#bg {
	position: absolute;
	width: 1920px;
	height: 1920px;
	left: 0px;
	top: 0px;
	overflow: visible;
	z-index: -1;
}

#name {
	float: right;
	margin-right: 50px;
	text-align: center;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-weight: normal;
	font-size: 42px;
}

#name:hover {
	cursor: pointer;
}

#Navbar {
	margin-top: 50px;
	margin-left: 50px;
	margin-bottom: 100px;
}

#ss {
	margin-left: 65px;
	margin-bottom: 25px;
	float: left;
	position: relative;
	margin-right: 50px;
	margin-top: 25px;
	width: 300px;
	min-height: 300px;
	background: linear-gradient(-45deg,rgba(255, 255, 255, 0.247),rgba(250, 250, 250, 0.096));
	border-radius: 25%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
	font-size: 200%;
	transition: 0.5s ease-in-out;
	text-align: center;
}

#ss:hover {
	text-align: center;
	margin-left: 50px;
	margin-bottom: 25px;
	float: left;
	position: relative;
	margin-right: 65px;
	margin-top: 25px;
	width: 300px;
	min-height: 300px;
	background: linear-gradient(-45deg,rgba(255, 255, 255, 0.349),rgba(250, 250, 250, 0.096));
	border-radius: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
	box-shadow: 0 25px 45px rgba(0, 0, 0, 0.205);
	border: 1px solid rgba(255, 255, 255, 0.637);
	font-size: 250%;
	cursor: pointer;
}
a {
	color: black;
	text-decoration: none;
}
a:hover {
	cursor: pointer;
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:active {
	color: black;
	text-decoration: none;
}

#user-name {
	font-family: 'Montserrat',sans-serif;
	color: white;
}

#audiospace {
	font-family: 'Montserrat',sans-serif;
	font-size: 300%;
	color: white;
}

.space {
  	-webkit-text-fill-color: transparent;
  	-webkit-text-stroke-width: 1.2px;
  	-webkit-text-stroke-color: rgb(255, 255, 255);
}

/*
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

} */
/*
#Sample_Spaces {
	position: absolute;
	width: 1808px;
	height: 1655px;
	left: 106px;
	top: 696px;
	overflow: visible;
}
#row_4 {
	position: absolute;
	width: 1808px;
	height: 359px;
	left: 0px;
	top: 1296px;
	overflow: visible;
}
#ID16_z {
	filter: blur(30px);
	fill: url(#ID16_z);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
	box-shadow: #000000;
	border: 1px solid #ffffff;
}
.ID16_z {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 1437px;
	top: 0px;
}
#ID16_ {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1591px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 65px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID15_ {
	filter: blur(30px);
	fill: url(#ID15_);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID15_ {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 359px;
	left: 958px;
	top: 0px;
}
#ID15_ba {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1112px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID14_ {
	filter: blur(30px);
	fill: url(#ID14_);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID14_ {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 359px;
	left: 478px;
	top: 0px;
}
#ID14_ba {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 630px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID13_ {
	filter: blur(30px);
	fill: url(#ID13_);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID13_ {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 0px;
	top: 0px;
}
#ID13_ba {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 155px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#row_3 {
	position: absolute;
	width: 1808px;
	height: 359px;
	left: 0px;
	top: 864px;
	overflow: visible;
}
#ID12_bc {
	filter: blur(30px);
	fill: url(#ID12_bc);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID12_bc {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 1437px;
	top: 0px;
}
#ID12_bd {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1592px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 63px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID11_bf {
	filter: blur(30px);
	fill: url(#ID11_bf);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID11_bf {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 359px;
	left: 958px;
	top: 0px;
}
#ID11_bg {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1118px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 51px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID10_bi {
	filter: blur(30px);
	fill: url(#ID10_bi);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID10_bi {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 359px;
	left: 478px;
	top: 0px;
}
#ID10_bj {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 630px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 69px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID9_bl {
	filter: blur(30px);
	fill: url(#ID9_bl);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID9_bl {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 0px;
	top: 0px;
}
#ID9_bm {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 166px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#row_2 {
	position: absolute;
	width: 1808px;
	height: 359px;
	left: 0px;
	top: 432px;
	overflow: visible;
}
#ID8_bp {
	filter: blur(30px);
	fill: url(#ID8_bp);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID8_bp {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 1437px;
	top: 0px;
}
#ID8_bq {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1602px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 43px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID7_bs {
	filter: blur(30px);
	fill: url(#ID7_bs);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID7_bs {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 359px;
	left: 958px;
	top: 0px;
}
#ID7_bt {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1123px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID6_bv {
	filter: blur(30px);
	fill: url(#ID6_bv);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID6_bv {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 359px;
	left: 478px;
	top: 0px;
}
#ID6_bw {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 644px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 41px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID5_by {
	filter: blur(30px);
	fill: url(#ID5_by);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID5_by {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 0px;
	top: 0px;
}
#ID5_bz {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 167px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#row_1 {
	position: absolute;
	width: 1808px;
	height: 359px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#ID4_b {
	filter: blur(30px);
	fill: url(#ID4_b);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID4_b {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 1437px;
	top: 0px;
}
#ID4_ca {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1601px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 45px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID3_b {
	filter: blur(30px);
	fill: url(#ID3_b);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID3_b {
	position: absolute;
	overflow: visible;
	width: 370px;
	height: 359px;
	left: 958px;
	top: 0px;
}
#ID3_ca {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 1124px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID2_b {
	filter: blur(30px);
	fill: url(#ID2_b);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID2_b {
	position: absolute;
	overflow: visible;
	width: 372px;
	height: 359px;
	left: 478px;
	top: 0px;
}
#ID2_ca {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 645px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 39px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#ID1_cb {
	filter: blur(30px);
	fill: url(#ID1_cb);
	stroke: rgba(255,255,255,0.6);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.ID1_cb {
	position: absolute;
	overflow: visible;
	width: 371px;
	height: 359px;
	left: 0px;
	top: 0px;
}
#ID1_cc {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 174px;
	top: 141px;
	position: absolute;
	overflow: visible;
	width: 25px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
*/
/*
#Name {
	left: 1612px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 197px;
	white-space: nowrap;
	transition: all 0.2s ease-in-out;
	--web-animation: fadein 0.2s ease-in-out;
	--web-action-type: page;
	--web-action-target: settings_overlay_1.html;
	cursor: pointer;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#AudioSpace {
	position: absolute;
	width: 409px;
	height: 77px;
	left: 0px;
	top: 0px;
	overflow: visible;
	--web-animation: fadein undefineds undefined;
	--web-action-type: page;
	--web-action-target: down_2.html;
	cursor: pointer;
}
#Space {
	left: 203px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 207px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#Audio {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 63px;
	color: rgba(255,255,255,1);
}
#Overlay {
	opacity: 0;
	position: absolute;
	width: 2018px;
	height: 1202px;
	left: 0px;
	top: 411px;
	overflow: visible;
}
#Overlay_bg_ck {
	filter: blur(30px);
	fill: url(#Overlay_bg_ck);
}
.Overlay_bg_ck {
	position: absolute;
	overflow: visible;
	width: 2018px;
	height: 1202px;
	left: 0px;
	top: 0px;
}
#Logout {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 898px;
	top: 604px;
	position: absolute;
	overflow: visible;
	width: 225px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 60px;
	color: rgba(255,255,255,1);
}
#My_Profile {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	left: 797px;
	top: 507px;
	position: absolute;
	overflow: visible;
	width: 427px;
	white-space: nowrap;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	color: rgba(255,255,255,1);
}
#cross {
	position: absolute;
	width: 89.837px;
	height: 89.837px;
	left: 1804.978px;
	top: 123.477px;
	overflow: visible;
}
#Line_1 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_1 {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 127.049px;
	height: 0px;
	transform: translate(-1724.978px, -59.477px) matrix(1,0,0,1,1706.3717,104.3958) rotate(45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
#Line_2 {
	fill: transparent;
	stroke: rgba(255,255,255,1);
	stroke-width: 5px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Line_2 {
	filter: drop-shadow(0px 7px 6px rgba(0, 0, 0, 0.161));
	overflow: visible;
	position: absolute;
	width: 127.049px;
	height: 0px;
	transform: translate(-1724.978px, -59.477px) matrix(1,0,0,1,1706.3717,104.396) rotate(-45deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
} */